@import "banner.less";

a:not(.stocks-item) {
	opacity: 0.8;
	transition: opacity 0.5s;

	&:hover {
		opacity: 1;
	}
}

.error {
	position: absolute;
	top: 30%;
	width: 100%;
	height: 50px;

	font-size: 30px;
	text-align: center;
}

.fa {
	-moz-osx-font-smoothing: grayscale;
	font-family: 'FontAwesome';
	font-feature-settings: normal;
	font-kerning: auto;
	font-language-override: normal;
	font-size: inherit;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-synthesis: weight style;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-rendering: auto;
}

.holder {
	box-sizing: border-box;
	border: 25px solid #000;
	&-video,
	&-audio,
	&-tlen {
		overflow: hidden;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;

		display: block;
		width: 100%;
		height: 100%;

		background-position: 30% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url('/i/bg/nemtsov.jpg');

		transition: opacity 3s linear;
		opacity: 0.3;
	}
	&-tlen {
		opacity: 0.7;
		background-color: #666;
		background-image: none;
	}
}

.stocks {
	&-mantra {
		position: absolute;
		top: 100px;

		box-sizing: border-box;
		display: block;
		width: 100%;
		height: 50px;

		padding: 0 50px;

		font-size: 18px;
		text-align: center;
		text-shadow: 0 0 3px #666;
	}
}

.footer,
.header {
	position: absolute;
	left: 0;

	display: block;
	width: 100%;
	padding: 20px 0;

	text-align: center;

	&-link {
		display: inline-block;
		padding: 5px 15px;

		border-radius: 10px;

		background: rgba(0, 0, 0, 0.5);

		font-size: 20px;
		text-decoration: none;
		cursor: pointer;
	}
}

.header {
	top: 0;
	&-link {
		font-size: 24px;
	}
}

.footer {
	bottom: 0;
}

.copyleft {
	position: absolute;
	left: 30px;
	bottom: 20px;
}

.pluso-engine {
	display: inline-block;
	opacity: 0.8;

	transition: opacity 0.5s;

	&:hover {
		opacity: 1;
	}
}